@media (-moz-bool-pref: "uc.enabled") {
  .titlebar-close {
    display: none !important;
  }

  .titlebar-buttonbox-container {
    background-color: pink !important;
  }

  .window-controls {
    background-color: pink !important;
  }
}
